<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form action="/courses/add" method="post">
                <div class="form-group">
                    <label for="name">Course name</label>
                    <input type="text" class="form-control" id="name" name="name"
                           th:value="(${course}!= null ? ${course.getName()}:'')"
                           required placeholder="Enter Course name">

                </div>
                <div class="form-group">
                    <label for="description">Course description</label>
                    <input type="text" class="form-control" id="description" name="description"
                           th:value="(${course}!= null ? ${course.getDescription()}:'')"
                           required placeholder="Enter Course description">

                </div>
                <div class="form-group">
                    <label>Course Teacher</label>
                    <select name="teacherId" class="form-control">
                        <option th:if="${course} != null"
                                th:selected="${course.getTeacher() != null
                            && course.getTeacher().getTeacherId() == teacher.getTeacherId()}"
                                th:each="teacher : ${teachers}"
                                th:text="${teacher.getName()}" th:value="${teacher.getTeacherId()}">
                        </option>
                        <option th:if="${course} == null"
                                th:each="teacher : ${teachers}"
                                th:text="${teacher.getName()}" th:value="${teacher.getTeacherId()}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/listCourses">Back</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>